<!DOCTYPE html>
<html>
<head>
	<title>Spoticloud</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.js"></script>
</head>

<body ng-app="spoticloud">

	<div class="main" ng-controller="MainController">

		<br>
		<label><input ng-model="searchText" placeholder="Search..."></label>
		<a href="#!songUpload" style="color: burlywood">Upload a song</a>
		<div ng-view></div>
		<br>

		<table id="songlist">
			<tr>
				<th style="width: 45%">Title</th>
				<th style="width: 30%">Artist</th>
				<th style="width: 10%">Genre</th>
				<th style="text-align: right">Length</th>
				<th style="text-align: right">Year</th>
			</tr>
			<tr ng-repeat="song in songs | filter:searchText" ng-dblclick="songSelect(song.filename)">
				<td>{{ song.title }}</td>
				<td>{{ song.artist }}</td>
				<td>{{ song.genre }}</td>
				<td style="text-align: right;">{{ song.length | secondsToDateTime | date:'m:ss' }}</td>
				<td style="text-align: right;">{{ song.year }}</td>
			</tr>
		</table>

		<br><br><br><br>

		<audio id="audio" data-ng-src="{{ selectedSongPath }}"></audio>

		<div id="audio-controls" class="player-bar">
			<button type="button" id="play-pause" style="margin: 20px">Play</button>
			<input type="range" id="seek-bar" value="0" style="width: 25%" oninput="ScrollCheck(true)" onmouseup="ScrollCheck(false)">
			<button type="button" id="mute" style="margin: 20px">Mute</button>
			<a>Volume:</a>
			<input type="range" id="volume-bar" min="0" max="1" step="0.01" value="0.75" style="margin: 20px" onchange="SetVolume(this.value)" oninput="SetVolume(this.value)">
		</div>
    
	</div>

	<script src="js/player-controls.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/MainController.js"></script>
</body>
</html>